/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #000;
    color: #f6f6f6;
    height: 100vh;
    box-sizing: border-box;
}

.tituloDestacado{
    color: #22D4FD;
}

.presentacion{
    display: flex;
    align-items: center;
    margin: 10% 12%;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentacion__contenido__enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__contenido__enlaces__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    border: 2px solid #22D4FD;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #f6f6f6;
}

.presentacion__contenido__enlaces__subtitulo{
    font-size: 24px;
    font-family: "Krona One", sans-serif;
    font-weight: 400;
}

.presentacion__contenido__enlaces__link:hover{
    background-color: #2f2f2f;
    border: 2px solid #0000FF;
    cursor: pointer;
}