/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES */
:root{
    --color-primario: #000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22D4FD;
    --color-hover: #2f2f2f;

    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krola-one: "Krona One", sans-serif;
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding-left: 12%;
    padding-top: 2%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
   color: var(--color-terciario);
   font-family: var(--fuente-montserrat);
   font-weight: 600; 
   text-decoration: none;
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 3% 12%;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: var(--fuente-krola-one);
}

.tituloDestacado{
    color: var(--color-terciario);
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: var(--fuente-montserrat);
}

.presentacion__contenido__enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__contenido__enlaces__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    border: 2px solid var(--color-terciario);
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
}

.presentacion__contenido__enlaces__subtitulo{
    font-size: 24px;
    font-family: var(--fuente-krola-one);
    font-weight: 400;
}

.presentacion__contenido__enlaces__link:hover{
    background-color: var(--color-hover);
    cursor: pointer;
}

.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 400;
}